@import "tailwindcss";

/* Hide scrollbar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none;    /* Firefox */
}

/* Pause animation on hover */
.pause-hover:hover {
  animation-play-state: paused;
}

/* react-slick arrow visibility fix */
.slick-prev:before,
.slick-next:before {
  color: black !important;
  font-size: 32px;
}

/* optional: bring arrows slightly inside */
.slick-prev {
  left: -35px;
}
.slick-next {
  right: -35px;
}
